<!-- header -->
<%= render 'layouts/header' %>
<div class="bgGray">
<!-- left side -->
<div class="settings p24">
<div class="settings_container">
<%= render 'settings/layouts/setting-menu' %>
<div class="settings_rightbar">

<div class="settings_main">
  <%= render 'settings/layouts/title-header', locals: { title: 'アカウント'.freeze} %>

    <!-- formfor -->
<!-- アイコン

GitHub
sdlkfj3w0ao2@outlook.jp
Gravatar
画像

アップロード -->
<p>Gravatar側での画像の変更は即座に反映されません。5分ほどお待ちください。</p>
<p>GitHubやTwitterでユーザ名を変更した場合は、いったんQiitaから ログアウト して再度OAuth認証を行なってください。</p>


<%= form_for @user do |f| %>
  <%= image_tag current_user.avatar.variant(resize: "100x100"), style:"border-radius:6px;" if current_user.avatar.attached? %>
  <%= f.file_field :avatar, value: current_user %>

  <div>
    <%= f.label :name, 'ユーザ名' %>
    <%= f.text_field :name, class: 'settings__form', value: @user.name %>
  </div>
<!--
ユーザ名を変更するにはパスワードの登録が必要です。
外部サービス
GitHubの紐付けを解除
解除するにはTwitterアカウントを紐付けるか、 パスワードを設定してください。
Twitterログイン
Twitterアカウントと紐付けると、 技術情報をTwitterにも同時に投稿することができるようになります。
Googleログイン
言語設定 -->
  <%= f.submit "更新する", class: 'settings__submit' %>
<% end %>

<!-- form_tag -->
<div class="settings__smalltitle">
 Qiita:Team専用モード
</div>
<div class="settings__smalltitle--Heading">
Qiita:Team専用モードを有効にすると、このアカウントはQiita:Teamのみで利用可能となり、「Qiita - プログラマの技術情報共有サービス」の利用ができなくなります。
</div>
<button class="settings__submit settings__team-mode">Qiita:Team専用モードを有効にする</button>

<div class="settings__smalltitle">
 アカウント削除
</div>
<div class="settings__smalltitle--Heading">
一度アカウントを削除すると、二度と元に戻せません。十分ご注意ください。
</div>

<%= link_to user_delete_path(current_user) do %>
  <button class="settings__submit settings__danger"> アカウントを削除する</button>
<% end %>

</div>
</div>


</div>
</div>
<%= render 'layouts/footer' %>
</div>
