<%= image_tag @user.avatar, class: "mb16 oneUser__profile__icon",style: "border-radius:6px;" if @user.avatar.attached? %>
<div class="oneUser__profile__header">
  <% if @user.profile.first_name.blank? && @user.profile.last_name.blank? then  %>
    <h3>@<%= @user.name %></h3>
  <% else %>
    <h3><%= @user.profile.first_name unless @user.profile.first_name.blank? %>
    <%= @user.profile.last_name unless @user.profile.last_name.blank? %></h3>
    <div>@<%= @user.name %></div>
  <% end %>
</div>
