<!-- https://qiita.com/morishitter/items/c4aa500929f2de441bfd -->
<!-- header -->
<%= render 'layouts/header' %>
<div class="home-container px16 pt32">
<div class="container"> <!-- 記事部分全体 (背景色がグレー) -->

  <!-- 左側に表示される「いいね」「ストック」ボタン -->
<%= render 'articles/module/sub-menu' %>
  <!-- 記事部分 (背景色が白) -->
  <div class="main p16">
    <div class="main__article">
      <div class="main__header">
        <div class="main__meta mb24">
          <div class="main__author">
            <div class="main__authorIcon">
              <a>
                <%= image_tag @article.user.avatar,style: "height:32px;" if @article.user.avatar.attached? %>
              </a>
            </div>
            <div class="main__authorName">
              <%= @article.user.name %>
            </div>
          </div>
          <div class="main__time">
            <meta content="2016-03-14T00:11:37+09:00" itemprop="datePublished" />
            <span data-toggle="tooltip" title="<%= @article.created_at %>に投稿"><time datetime="<%= @article.created_at %>" itemprop="dateModified"><%= @article.created_at.strftime('%Y年%m月%d日') %></time>
              に投稿
            </span>
          </div>
          <div class="main__options">
            <div class="main__manipulate">
              <div class="dropdown">
                <% unless @article.user == current_user %>
                <a class="main__dropdownToggle" data-toggle="dropdown" href="#">
                  <span class="fa fa-ellipsis-h fa-lg"></span>
                </a>
                  <!-- <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown__item">
                      <a href="/k7a/items/26d7a22233ecdf48fed8/revisions">
                        <span class="fa fa-fw fa-history"></span> 編集履歴
                      </a>
                    </li>
                    <li class="dropdown__item">
                      <a href="/k7a/items/26d7a22233ecdf48fed8/patches">
                        <span class="fa fa-fw fa-inbox"></span> 編集リクエスト一覧
                      </a>
                    </li>
                    <li class="dropdown__item">
                      <a href="/k7a/items/26d7a22233ecdf48fed8/likers">
                        <span class="fa fa-fw fa-thumbs-up"></span> いいねしたユーザー一覧
                      </a>
                    </li>
                    <li class="dropdown__item">
                      <a href="/k7a/items/26d7a22233ecdf48fed8.md">
                        <span class="fa fa-fw fa-file-text-o"></span> Markdownで本文を見る
                      </a>
                    </li>
                    <li class="divider" role="separator"></li>
                    <li class="dropdown__item">
                      <a data-target=".js-report-form" data-toggle="modal" href="#">
                        <span class="fa fa-fw fa-flag"></span> 問題がある投稿を報告する
                      </a>
                    </li>
                  </ul> -->
                <% else %>
                  <div class="dropdown__meta">
                    <div class="dropdown__edit">
                      <%= link_to "編集する", edit_article_path(@article) %>
                    </div>
                    <div class="dropdown__menu">
                      <span class="fa fa-ellipsis-h fa-lg"></span>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <h1 class="main__title" itemprop="headline">
          <%= @article.title %>
        </h1>
        <div class="main__tags">
          <div class="main__tags--item">
            JavaScript
          </div>
          <div class="main__tags--item">
            Chrome
          </div>
          <div class="main__tags--item">
            chrome-extension
          </div>
        </div>
      </div>
      <div class="main__article--alert p16">
        この記事は最終更新日から1年以上が経過しています。
      </div>
      <div class="main__MDcontent markdown-body">
        <%= qiita_markdown(@article.content) %>
      </div>
      <div class="main__footer">
        <div class="main__footer--actions">
          <div class="main__footer--editRequest">
            <a href="#" "編集リクエスト">編集リクエスト</a>
          </div>
          <div class="main__footer--stock">
            <button>
              <span class="main__footer--stockLabel">ストック</span>
            </button>
          </div>
          <div class="main__footer--like">
          </div>
        </div>
        <div class="main__footer--social">
        </div>
      </div>
      <div class="pf-container">
        <div class="pf-user">
          <a>
            <%= image_tag @article.user.avatar,style: "height:60px;border-radius:3px;" if @article.user.avatar.attached? %>
          </a>
          <div class="pf-user__body">
            <div class="pf-user__header">
              <a class="pf-user--lnknm">
                <%= @article.user.name %>
              </a>
            </div>
            <div class="pf-user__description">
              <%= @article.user.profile.introduce unless @article.user.profile.nil? %>
            </div>
            <div class="pf-user__footer">
              <span class="userFollowButton">
                <button class="userFollowButton__btn btn-xs">
                  <div class="i fa fa-user-plus"></div>
                  フォロー
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- オプショナルなエリア (非ログイン時は広告が出る) -->
  <div class="options"></div>

  <!-- 目次 (Table of Contens) -->
  <div class="toc">
    <div class="toc__tree">
      <div class="toc__nav">
        <ul id="tocNav">
          <!-- <li class="active">概要</li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
