<!-- header -->
<%= render 'layouts/header' %>
<!-- show page of users -->
<div id="main" class="oneUser">
  <div class="oneUser__container mt24">
    <div class="oneUser__row oneUser__profile">
      <% unless @user.profile.nil? then %>
        <%= render 'users/layouts/user-profile-info/header' %>
        <%= render 'users/layouts/user-profile-info/profile-items' %>
      <% else %>
        <img class="mb16 oneUser__profile__icon" alt="" src="http://chittagongit.com//images/android-profile-icon/android-profile-icon-25.jpg">
        <h3>@<%= @user.name %></h3>
      <% end %>
      <% if current_user == @user %>
        <div class="oneUser__profile__info">
          <%= link_to settings_profile_path(current_user) do %>
            <i class="fas fa-cog"></i>
            プロフィールを編集する
          <% end %>
        </div>
      <% end %>
        <%= render 'users/layouts/user-profile-info/profile-tags' %>
    </div>
    <div class="oneUser__row oneUser__main">
      <div class="oneUser__chart">
        <div class="oneUser__chart__activity">
        </div>
        <ul class="oneUser__nav oneUser__nav__chart">
          <li class="oneUser__nav--item nav-active">
            <div class="oneUser__nav--count">
              0
            </div>
            items
          </li>
          <li class="oneUser__nav--item">
            <div class="oneUser__nav--count">
              0
            </div>
            contribution
          </li>
          <li class="oneUser__nav--item">
            <div class="oneUser__nav--count">
              0
            </div>
            followers
          </li>
          <div class="">
          </div>
        </ul>
      </div>
      <ul class="oneUser__nav oneUser__nav__local">
        <li class="oneUser__nav--item nav-active">
          最近の投稿 0
        </li>
        <li class="oneUser__nav--item">
          いいねした投稿
        </li>
        <li class="oneUser__nav--item">
          限定共有投稿
        </li>
        <li class="oneUser__nav--item">
          コメント
        </li>
      </ul>
      <p>ga-ladderさんの投稿はありません</p>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
