<div class="user-session__container">
  <h1 class="user-session--title">
    Qiita にログイン
  </h1>
  <hr class="mt16 mb16 hr">

  <%= render "/devise/shared/auth" %>

  <div class="user-session__right-content">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.text_field :login, autofocus: true, placeholder: "メールアドレスもしくはユーザ名", class: 'field mb16' %>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: 'field'%>
      <div class="arrange-leftside mb16">
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "パスワードを忘れた場合", new_password_path(resource_name), class: 'user-session--forgetPs' %>
        <% end -%>
      </div>
      <div class="actions">
        <%= f.submit "Qiitaにログイン", class: 'user-session__action mb16' %>
      </div>
    <% end %>
  </div>
</div>
