<div class="user-index__body">
  <% unless @users.empty? then %>
    <% @users.each do |user|%>
      <div class="user-index__user-info">
        <%= link_to user_path(user) do %>
          <div class="user-index__user-icon-box">
            <%= image_tag user.avatar, class: "user-index__user-icon",style: "border-radius:6px;" if user.avatar.attached? %>
          </div>
        <% end %>
        <div class="user-index__user-meta">
          <%= link_to user_path(user) do %>
            <div class="user-index__user-name">
              <%= user.name %>
            </div>
          <% end %>
          <p>
            <%= user.profile.introduce unless user.profile.nil? %>
          </p>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="user-index__not-found">
      <p><%= params[:value]%>から始まる人はいないよ~~~~~~~~~~~~~~~~~~~ん</p>
    </div>
  <% end %>
</div>
